.table_heading {
  
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top, yellow, rgb(228, 137, 52), wheat);
  
}
table {
  position: relative;
  top: 150px;
  width: 60%;
  height: auto;
}
td {
  border: 2px solid midnightblue;
  text-align: center;
  width: 200px;
  height: 50px;
}
.tnone {
  border: none;
}
